// Definição das variáveis de cores
$color-white: white;
$color-border: #B6B4AD;
$color-text: #3b3437;
$color-tips: #87847b;
$color-correct: #3aa394;
$color-incorrect: #AC3C3C;
$border-radius: 6px;
$max-width: 300px;
$border-width: 3px;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  border-color: $color-border;
  border-width: $border-width;
  border-style: solid;
  border-radius: $border-radius;
  max-height: 40px;
  width: 100%;
  margin-top: 10px;
  min-height: 30px;
  max-height: 40px;
  overflow: hidden;
}

.divKeyboard {
  transform: scale(0.8);

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $max-width;
}

.image {
  flex-grow: 1;
  aspect-ratio: 1 / 1;
  width: 100%;
  max-height: 250px;
  background-color: $color-white;
  border-color: $color-border;
  border-width: $border-width;
  border-style: solid;
  border-radius: $border-radius;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px;

  img {
    width: 100px;
    height: 20px;
  }

  button {
    background-color: transparent;
    border: solid;
    border-color: $color-text;
    border-radius: $border-radius;
    border-width: $border-width;
    flex-grow: 0;
    flex-shrink: 1;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    font-size: 14px;
    color: $color-text;
  }
}

.buttonsHeader {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.tipsDiv {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  gap: 5px;
  width: 100%;
  max-width: $max-width;
  margin-bottom: 5px;
}

.tips {
  width: 100%;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: $color-tips;
  border-radius: $border-radius;
  font-weight: bold;
  font-size: clamp(1rem, 1.5vw, 1rem);
  color: $color-white;
}

.correctTip {
  background-color: $color-correct;
}

.incorrectTip {
  background-color: $color-incorrect;
}

app-tutorial {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #4c4347;
  overflow-Y: scroll;
  overflow-X: hidden;
  height: 90vh;
  width: 300px;
  border-radius: 14px;
  border-width: $border-width;
  border-style: solid;
  border-color: $color-border;
}

/* Estilizar a barra de rolagem */
.modal::-webkit-scrollbar {
  width: 5px; /* Largura da barra de rolagem vertical */
  height: 5px; /* Altura da barra de rolagem horizontal */
}

/* Estilizar o fundo da barra de rolagem */
.modal::-webkit-scrollbar-track {
  background: #f0f0f0; /* Cor de fundo do trilho */
  border-radius: 5px; /* Bordas arredondadas no trilho */
}

/* Estilizar o polegar (a parte que se move) */
.modal::-webkit-scrollbar-thumb {
  background: #888; /* Cor do polegar */
  border-radius: 5px; /* Bordas arredondadas no polegar */
}
