.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-color: #B6B4AD;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    overflow: hidden;
  }

  .divKeyboard{
    max-width: 400px;
    margin: 20px;
  }