
$font-size: clamp(14px, 2vw, 20px);
$icon-size: clamp(18px, 3vw, 40px);
$key-height: clamp(30px, 5vw, 60px);
$key-width: clamp(32px, 3vw, 60px);
$key-background: #4c4347;
$key-hover-background: #3b3437;
$key-border-radius: 4px;


.keyboard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: auto;
}

.keyboard-line {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 3px;
  width: 100%;
}

.spacing {
  width: 100%;
  min-width: 5px;
  max-width: 2vw;
}

.key {
  width: clamp(30px, 4vw, 60px);
  height: $key-height;
  font-size: $font-size;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $key-background;
  border-radius: $key-border-radius;
  font-weight: bold;
  color: white;

  text-transform: uppercase;
  transition: all ease 0.1s;
  cursor: pointer;
}

.key:hover {
  transform: scale(1.05);
  background-color: #3b3437;
}

.key:active {
  transform: scale(0.95);
}

ng-icon {
  font-size: $icon-size;
}

.enterKey {
  width: clamp(30px, 80px, 140px);
  max-width: 140px;
  min-width: 32px;
  height: $key-height;
  margin-left: 5px;

}

.backspace {
  margin-left: 5px;

}
.spaceKey {
  width: 100%;
  max-width: 200px;
  height: $key-height;
}

@media (max-width: 768px) {
  .keyboard {
    transform: scaleY(1.0);
  }
  .key{
    height: 60px;
    width: 35px;
    font-size: 18px;
  }
  .enterKey{
    width: 80px;
  }
  .spaceKey{
    width: 100%;
    max-width: 200px;
  }
}

@media (max-width: 330px) {
  .keyboard {
    transform: scale(0.9);
  }
}
