<div class="keyboard">
    <!-- Primeira linha -->
    <div class="keyboard-line">
        <div class="key" (click)="keyboardClicked('q')">q</div>
        <div class="key" (click)="keyboardClicked('w')">w</div>
        <div class="key" (click)="keyboardClicked('e')">e</div>
        <div class="key" (click)="keyboardClicked('r')">r</div>
        <div class="key" (click)="keyboardClicked('t')">t</div>
        <div class="key" (click)="keyboardClicked('y')">y</div>
        <div class="key" (click)="keyboardClicked('u')">u</div>
        <div class="key" (click)="keyboardClicked('i')">i</div>
        <div class="key" (click)="keyboardClicked('o')">o</div>
        <div class="key" (click)="keyboardClicked('p')">p</div>
        <div class="spacing"></div>
    </div>

    <!-- Segunda linha -->
    <div class="keyboard-line">
        <div class="spacing"></div>
        <div class="key" (click)="keyboardClicked('a')">a</div>
        <div class="key" (click)="keyboardClicked('s')">s</div>
        <div class="key" (click)="keyboardClicked('d')">d</div>
        <div class="key" (click)="keyboardClicked('f')">f</div>
        <div class="key" (click)="keyboardClicked('g')">g</div>
        <div class="key" (click)="keyboardClicked('h')">h</div>
        <div class="key" (click)="keyboardClicked('j')">j</div>
        <div class="key" (click)="keyboardClicked('k')">k</div>
        <div class="key" (click)="keyboardClicked('l')">l</div>
        <div class="key backspace" (click)="keyboardClicked('{backspace}')">
            <ng-icon name="heroBackspace"></ng-icon>
        </div>
    </div>

    <!-- Terceira linha -->
    <div class="keyboard-line">
        <div class="spacing"></div>
        <div class="key" (click)="keyboardClicked('z')">z</div>
        <div class="key" (click)="keyboardClicked('x')">x</div>
        <div class="key" (click)="keyboardClicked('c')">c</div>
        <div class="key" (click)="keyboardClicked('v')">v</div>
        <div class="key" (click)="keyboardClicked('b')">b</div>
        <div class="key" (click)="keyboardClicked('n')">n</div>
        <div class="key" (click)="keyboardClicked('m')">m</div>
        <div class="key enterKey" (click)="keyboardClicked('{enter}')">enter</div>
    </div>

    <!-- Quarta linha com espaço -->
    <div class="keyboard-line spaceLine">
        <div class="key spaceKey" (click)="keyboardClicked(' ')">space</div>
    </div>
</div>
